# Ignore data and test files
*.txt

# Ignore debug and compiled files
main-debug

# Ignore other environment-specific or temporary files
.DS_Store
Thumbs.db
*.log

# Ignore cache and build files
.ccls-cache/
main
main.o
